<!-- Skip Link -->
<nav id="skip" class="fl-inverted-color">
    <a href="#topics" class="docs-template-skip-topics">Skip to Topics</a>
    <a href="#content" class="docs-template-skip-content">Skip to Content</a>
</nav>
<!-- END skip link -->

<header class="ignore-for-TOC row fl-inverted-color">
    <!-- BEGIN markup for Preference Editor -->
    <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
        <!-- This is the div that will contain the Preference Editor component -->
        <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

        <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
        <div class="fl-panelBar">
            <span class="fl-prefsEditor-buttons">
                <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
            </span>
        </div>
    </div>
    <!-- END markup for Preference Editor -->

    <div class="small-12 column docs-template-header">
        <a class="" href="{{{getRelativeUrl '/index.html' document.url}}}" title="Home: Documentation Template">
            <span class="idg-logo">{{> idrcLogo }}</span>
            <h1>The Inclusive Design Guide</h1>
        </a>

        {{! Mobile Menu }}
        <nav class="right show-for-small-only docs-template-nav-mobile">
            <ul id="menu">
                <li class="docs-template-dropDown-header"><span class="docs-template-nav-mobile-icon"></span>
                    <ul class="docs-template-dropDown">
                        {{! Highlight the (active) category the document belongs to. }}
                        {{#each siteStructure}}
                            {{#ifEqual category ../document.category}}
                                <li class="idg-nav{{category}} docs-template-category-active">
                                    <span aria-label="Currently on Category: {{category}}">{{category}}</span>
                                </li>
                            {{else}}
                                <li class="idg-nav{{category}}"><a href="{{{categoryHref}}}{{{defaultPage}}}" title="{{category}}">{{category}}</a></li>
                            {{/ifEqual}}
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    {{! "Desktop" Menu }}
    <div class="docs-template-header">
        <nav class="idg-tabs small-12 column show-for-medium-up">
            <ul class="inline-list">
            {{! Highlight the (active) category the document belongs to. }}
            {{#each siteStructure}}
                {{#ifEqual category ../document.category}}
                    <li class="idg-nav{{category}} docs-template-category-active"><span aria-label="Currently on Category: {{category}}">{{{getCategoryIcon category}}}{{category}}</span></li>
                {{else}}
                    <li class="idg-nav{{category}}"><a href="{{{categoryHref}}}{{{defaultPage}}}" title="{{category}}">{{{getCategoryIcon category}}}{{category}}</a></li>
                {{/ifEqual}}
            {{/each}}
            </ul>
        </nav>
    </div>
</header>
