<div class="docs-corec-sidebar-bar ignore-for-TOC docs-template-topics-container small-8 medium-3 column">
    <nav id="topics" class="docs-template-topics" tabindex="-1">
        {{#each siteStructure}}
            {{! Output only the table of contents matching the current document's category }}
            {{#ifEqual category ../document.category}}
                <h2 class="docs-template-category">{{category}}</h2>
                {{#each sections}}
                    <h3 class="docs-template-sectionName">{{sectionName}}</h3>
                    <ul>
                        {{#each pages}}
                            <li>
                                {{#ifEqual href ../../../../document.url}}
                                    <span aria-label="Currently on: {{pageName}}" class="docs-template-topics-active">{{pageName}}</span>
                                {{else}}
                                    <a href="{{getRelativeUrl href ../../../../../document.url}}">{{pageName}}</a>
                                {{/ifEqual}}
                            </li>
                        {{/each}}
                    </ul>
                {{/each}}
            {{/ifEqual}}
        {{/each}}
    </nav>
</div>
