---
title: Practice Co-Design
layout: content
category: Practices
---

The practice of co-design allows users to become active participants in the design process by facilitating their direct input into the creation of solutions that meet their needs, rather than limiting users to the role of research subjects or consultants. When a diverse group of users can participate in the design process, a broader range of needs can be considered throughout the process, from conception to completion. The entire team can participate in quick testing and feedback cycles, and design decisions can be made more quickly. 

When users whose needs are typically considered to be “at the margins” are able to participate in the design process, the features that meet their needs can be more smoothly integrated into the final design. In this way, both the segregation of “special” solutions as well as expensive future retro-fitting can be minimized. Practicing co-design brings a more flexible and wider perspective to the design process, while incorporating insights from targeted communities.

## Try
* Inviting “end-users” into the design process
* Using accessible design & development tools
* Providing ways for “non-designers” to easily access/sketch/share ideas
* Hiring designers and others who themselves have a range of diverse needs

## Why
<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconInsights">{{{getCategoryIcon "insights"}}}</span> [Diverse Participation and Perspectives](/insights/DiverseParticipationAndPerspectives.html)</li>
<li><span role="presentation" class="idg-iconInsights">{{{getCategoryIcon "insights"}}}</span> [Integrated Solutions](/insights/IntegratedSolutions.html)</li></ul>

## How
<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [Accessible Communication Tools](/tools/AccessibleCommunicationTools.html)</li>
<li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [Accessible Design Tools](/tools/AccessibleDesignTools.html)</li>
<li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [Accessible Development Tools](/tools/AccessibleDevelopmentTools.html)</li></ul>