<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{{document.title}} | Documentation Template</title>

        <!-- FLUID-5639:
        github pages serves this 404 document in place of the requested missing
        document. Thus we do not know in advance the path to the local
        Foundation and CSS files.

        Therefore we use links to the CDN version of Foundation, and an
        absolute reference to the CSS file.

        https://issues.fluidproject.org/browse/FLUID-5639 -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
        <link rel="stylesheet" href="/lib/infusion/src/lib/jquery/ui/css/default-theme/jquery.ui.theme.css">
        <!--link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"-->


        <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/Enactors.css" />
        <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/PrefsEditor.css" />
        <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css" />
        <link rel="stylesheet" href="/css/docs-template.css">

        <link rel="icon" type="image/png" href="/images/favico.png">

        <!--script src="https://code.jquery.com/jquery-2.1.4.min.js"></script-->
        <script type="text/javascript" src="/lib/infusion/infusion-uio.js"></script>
        <script type="text/javascript" src="/js/DocsCore.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </head>
    <body class="docs-template docs-core-sidebar-visibility">

        <div class="container docs-template-container">

            <!-- Skip Link -->
            <div id="skip">
                <a href="#topics" class="docs-template-skip-topics">Skip to Topics</a>
                <a href="#content" class="docs-template-skip-content">Skip to Content</a>
            </div>
            <!-- END skip link -->


            <header class="row docs-template-header docs-template-header">

                <!-- BEGIN markup for Preference Editor -->
                <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
                    <!-- This is the div that will contain the Preference Editor component -->
                    <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

                    <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
                    <div class="fl-panelBar">
                        <span class="fl-prefsEditor-buttons">
                            <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                            <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                        </span>
                    </div>
                </div>
                <!-- END markup for Preference Editor -->

                <div class="docs-template-logo small-12 column">
                    <a class="docs-template-logoText" href="/index.html" title="Documentation Template">Documentation Template</a>

                    <nav class="right show-for-small-only docs-template-nav-mobile">
                        <ul id="menu">
                            <li class="docs-template-dropDown-header"><span class="docs-template-nav-mobile-icon"></span>
                                <ul class="docs-template-dropDown">
                                    {{#each siteStructure}}
                                        <li><a href="{{{getRelativeUrl categoryHref ../document.url}}}" title="{{category}}">{{category}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <nav class="small-12 column show-for-medium-up">
                    <ul class="inline-list right">
                        {{#each siteStructure}}
                            <li><a href="{{{getRelativeUrl categoryHref ../document.url}}}" title="{{category}}">{{category}}</a></li>
                        {{/each}}
                    </ul>
                </nav>


            </header>

            <article id="content" class="docs-template-articleBody small-12 medium-8 column" tabindex="-1">

                <div class="flc-toc-tocContainer docs-template-uio-toc"> </div>

                <h1>{{document.title}}</h1>

                <div class="docs-template-articleContent">
                    {{{rewriteMdLinks content}}}
                </div>

            </article>

            <footer class="row docs-template-footer">
                <p>Created by the <a href="http://fluidproject.org/" target="_blank">Fluid Project</a>,<br/>
                a project of the <a href="http://idrc.ocad.ca/" target="_blank">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca/" target="_blank">OCAD University</a>.</p>
            </footer>

            <script type="text/javascript">
                docsCore.init("/./");
                jQuery( "#menu" ).menu({
                    position: {my: "right top", at: "right bottom"},
                    icons: {submenu:"ui-icon-blank"}
                });
            </script>
        </div> <!-- end container -->

    </body>
</html>
