<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{{document.title}} | Inclusive Design Guides</title>
        <link rel="icon" type="image/png" href="{{{getRelativeUrl '/images/favico.png' document.url}}}">

        <!-- FLUID-5639:
        github pages serves this 404 document in place of the requested missing
        document. Thus we do not know in advance the path to the local
        Foundation and CSS files.

        Therefore we use links to the CDN version of Foundation, and an
        absolute reference to the CSS file.

        https://issues.fluidproject.org/browse/FLUID-5639 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
        <link rel="stylesheet" type="text/css" href="/lib/infusion/src/lib/jquery/ui/css/default-theme/jquery.ui.theme.css">

        <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/Enactors.css" />
        <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/PrefsEditor.css" />
        <link rel="stylesheet" type="text/css" href="/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css" />
        <link rel="stylesheet" href="/css/docs-inclusive-design-guides.css">

        <script type="text/javascript" src="/lib/infusion/infusion-uio.js"></script>
        <script type="text/javascript" src="/js/DocsCore.js"></script>
        <script type="text/javascript" src="/lib/jqueryui/jquery-ui.min.js"></script>
    </head>

    <body class="docs-template docs-inclusive-design-guides-index">

        <div class="container docs-template-container">

            <!-- Skip Link -->
            <nav id="skip" class="fl-inverted-color">
                <a href="#topics" class="docs-template-skip-topics">Skip to Topics</a>
                <a href="#content" class="docs-template-skip-content">Skip to Content</a>
            </nav>
            <!-- END skip link -->

            <header class="ignore-for-TOC row fl-inverted-color">
                <!-- BEGIN markup for Preference Editor -->
                <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
                    <!-- This is the div that will contain the Preference Editor component -->
                    <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

                    <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
                    <div class="fl-panelBar">
                        <span class="fl-prefsEditor-buttons">
                            <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                            <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                        </span>
                    </div>
                </div>
                <!-- END markup for Preference Editor -->

                <div class="small-12 column docs-template-header">
                    <a class="" href="/index.html" title="">
                        <span class="docs-inclusive-design-guides-logo">{{> idrcLogo }}</span>
                        <h1>Inclusive Design Guides</h1>
                    </a>

                    {{! Mobile Menu }}
                    <nav class="right show-for-small-only docs-template-nav-mobile">
                        <ul id="menu">
                            <li class="docs-template-dropDown-header"><span class="docs-template-nav-mobile-icon"></span>
                                <ul class="docs-template-dropDown">
                                    {{! Highlight the (active) category the document belongs to. }}
                                    {{#each siteStructure}}
                                        {{#ifEqual category ../document.category}}
                                            <li class="docs-inclusive-design-guides-nav{{category}} docs-template-category-active">
                                                <span aria-label="Currently on Category: {{category}}">{{category}}</span>
                                            </li>
                                        {{else}}
                                            <li class="docs-inclusive-design-guides-nav{{category}}"><a href="{{categoryHref}}" title="{{category}}">{{category}}</a></li>
                                        {{/ifEqual}}
                                    {{/each}}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                {{! "Desktop" Menu }}
                <div class="docs-template-header">
                    <nav class="docs-inclusive-design-guides-tabs small-12 column show-for-medium-up">
                        <ul class="inline-list">
                        {{! Highlight the (active) category the document belongs to. }}
                        {{#each siteStructure}}
                            {{#ifEqual category ../document.category}}
                                <li class="docs-inclusive-design-guides-nav{{category}} docs-template-category-active"><span aria-label="Currently on Category: {{category}}">{{{getCategoryIcon category}}}{{category}}</span></li>
                            {{else}}
                                <li class="docs-inclusive-design-guides-nav{{category}}"><a href="{{categoryHref}}" title="{{category}}">{{{getCategoryIcon category}}}{{category}}</a></li>
                            {{/ifEqual}}
                        {{/each}}
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="docs-template-articleBody row">

                <article id="content" class="small-12 column">
                    <h1>{{document.title}}</h1>

                    <div class="flc-toc-tocContainer docs-template-uio-toc"> </div>

                    <div class="docs-template-articleContent">
                        {{{rewriteMdLinks content}}}
                    </div>

                    <p class="docs-template-githubLink"><a href="{{getGithubLocation}}" rel="nofollow" target="_blank" class="link-external">Edit this Page on GitHub</a></p>
                </article>

            </div>

            <footer class="row docs-template-footer fl-inverted-color">
                <p>Created by the <a href="http://fluidproject.org/" rel="nofollow" target="_blank">Fluid Project</a>,<br/>
                a project of the <a href="http://idrc.ocad.ca/" rel="nofollow" target="_blank">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca/" target="_blank">OCAD University</a>.</p>
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
                        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/80x15.png" />
                    </a>
                    <br />
                    This documentation is licensed under a
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
                </p>
            </footer>

            <script type="text/javascript">
                docsCore.init("/");
                jQuery( "#menu" ).menu({
                    position: {my: "right top", at: "right bottom"},
                    icons: {submenu:"ui-icon-blank"},
                    // Remove the anchors from the tabindex as they are triggered
                    // via the select event. (see below)
                    create: function (event, ui) {
                        jQuery("#menu .ui-menu-item a").attr("tabindex", -1);
                    },
                    // The jQuery menu doesn't seem to like it when the <a> are
                    // specified as the "item" and are nested under an <li>. There
                    // seems to be styling issues and occassionally an error thrown.
                    // The page transition work around below is used to maintian the semantic structure,
                    // while allowing the menu to behave as normal.
                    select: function( event, ui ) {
                        var location = ui.item.children("a").attr("href");
                        if (location) {
                            window.location.href = location;
                        }
                    }
                });
            </script>
    </body>
</html>
