<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{{document.title}} | Documentation Template</title>
        <link rel="stylesheet" href="{{{getRelativeUrl '/css/normalize.css' document.url}}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
        <link rel="stylesheet" href="{{{getRelativeUrl '/css/highlightjs-custom.css' document.url}}}">
        <link rel="stylesheet" href="{{{getRelativeUrl '/lib/infusion/src/lib/jquery/ui/css/default-theme/jquery.ui.theme.css' document.url}}}">

        <link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/Enactors.css' document.url}}}" />
        <link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/PrefsEditor.css' document.url}}}" />
        <link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css' document.url}}}" />
        <link rel="stylesheet" href="{{{getRelativeUrl '/css/docs-template.css' document.url}}}">

        <link rel="icon" type="image/png" href="{{{getRelativeUrl '/images/favico.png' document.url}}}">

        <script type="text/javascript" src="{{{getRelativeUrl '/lib/infusion/infusion-uio.js' document.url}}}"></script>
        <script type="text/javascript" src="{{{getRelativeUrl '/js/DocsCore.js' document.url}}}"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </head>
    <body class="docs-template docs-core-sidebar-visibility">

        <div class="container docs-template-container">

            <!-- Skip Link -->
            <div id="skip">
                <a href="#topics" class="docs-template-skip-topics">Skip to Topics</a>
                <a href="#content" class="docs-template-skip-content">Skip to Content</a>
            </div>
            <!-- END skip link -->


            <header class="row docs-template-header docs-template-header fl-inverted-color">

                <!-- BEGIN markup for Preference Editor -->
                <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
                    <!-- This is the div that will contain the Preference Editor component -->
                    <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

                    <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
                    <div class="fl-panelBar">
                        <span class="fl-prefsEditor-buttons">
                            <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                            <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                        </span>
                    </div>
                </div>
                <!-- END markup for Preference Editor -->

                <div class="docs-template-logo small-12 column">
                    <a class="docs-template-logoText" href="{{{getRelativeUrl '/index.html' document.url}}}" title="Documentation Template">Documentation Template</a>

                    {{! Show the menu for mobile screens }}
                    <nav class="right show-for-small-only docs-template-nav-mobile">
                        <ul id="menu">
                            <li class="docs-template-dropDown-header"><span class="docs-template-nav-mobile-icon"></span>
                                <ul class="docs-template-dropDown">
                                    {{! Highlight the (active) category the document belongs to. }}
                                    {{#each siteStructure}}
                                        {{#ifEqual category ../document.category}}
                                            <li class="docs-template-category-active"><a href="{{{getRelativeUrl categoryHref ../../document.url}}}" title="{{category}}" aria-label="Currently on Category: {{category}}"><span aria-hidden="true">&#9616;</span> {{category}}</a></li>
                                        {{else}}
                                            <li><a href="{{{getRelativeUrl categoryHref ../../document.url}}}" title="{{category}}">{{category}}</a></li>
                                        {{/ifEqual}}
                                    {{/each}}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <nav class="small-12 column show-for-medium-up">
                    <ul class="inline-list right">
                    {{! Highlight the (active) category the document belongs to. }}
                    {{#each siteStructure}}
                        {{#ifEqual category ../document.category}}
                            <li class="docs-template-category-active"><a href="{{{getRelativeUrl categoryHref ../../document.url}}}" title="{{category}}" aria-label="Currently on Category: {{category}}">&#9616; {{category}}</a></li>
                        {{else}}
                            <li><a href="{{{getRelativeUrl categoryHref ../../document.url}}}" title="{{category}}">{{category}}</a></li>
                        {{/ifEqual}}
                    {{/each}}
                    </ul>
                </nav>
            </header>

            <div id="topics" class="docs-template-topics-container small-8 medium-3 column">
                <nav id="tableOfContents" class="docs-template-topics" tabindex="-1">
                    {{#each siteStructure}}
                        {{! Output only the table of contents matching the current document's category }}
                        {{#ifEqual category ../document.category}}
                            <h2 class="docs-template-category">{{category}}</h2>
                            {{#each sections}}
                                <h3 class="docs-template-sectionName">{{sectionName}}</h3>
                                <ul>
                                    {{#each pages}}
                                        <li>
                                            {{#ifEqual href ../../../../document.url}}
                                                <a href="{{getRelativeUrl href ../../../../../document.url}}" aria-label="Currently on: {{pageName}}"><span class="docs-template-topics-item docs-template-topics-active"><span aria-hidden="true">&#9616;</span> {{pageName}}</span></a>
                                            {{else}}
                                                <a href="{{getRelativeUrl href ../../../../../document.url}}"><span class="docs-template-topics-item">{{pageName}}</span></a>
                                            {{/ifEqual}}
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/each}}
                        {{/ifEqual}}
                    {{/each}}
                </nav>
            </div>

            <article id="content" class="docs-template-articleBody small-12 medium-8 column" tabindex="-1">

                <div class="small-4 medium-1 column docs-template-topics-hideShow fl-inverted-color">
                    <a href="#" class="docs-corec-topics" title="Visually Hide or Show List of Topics" aria-label="Visually Hide or Show List of Topics" role="button">Topics</a>
                </div>

                <div class="flc-toc-tocContainer docs-template-uio-toc"> </div>

                <h1>{{document.title}}</h1>

                <p class="docs-template-githubLink"><a href="{{getGithubLocation}}" target="_blank">Edit this Page on GitHub</a></p>

                <div class="docs-template-articleContent">
                    {{{rewriteMdLinks content}}}
                </div>

            </article>

            <footer class="row docs-template-footer fl-inverted-color">
                <p>Created by the <a href="http://fluidproject.org/" target="_blank">Fluid Project</a>,<br/>
                a project of the <a href="http://idrc.ocad.ca/" target="_blank">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca/" target="_blank">OCAD University</a>.</p>
            </footer>

            <script type="text/javascript">
                docsCore.init("{{{getRelativeUrl '/./' document.url}}}");
                jQuery( "#menu" ).menu({
                    position: {my: "right top", at: "right bottom"},
                    icons: {submenu:"ui-icon-blank"}
                });
            </script>
        </div> <!-- end container -->

    </body>
</html>
