<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{{document.title}} | Doc Base</title>
        <link rel="stylesheet" href="{{{getRelativeUrl '/css/normalize.css' document.url}}}">
        <link rel="stylesheet" href="{{{getRelativeUrl '/css/foundation.css' document.url}}}">
        <link rel="stylesheet" href="{{{getRelativeUrl '/css/highlightjs-custom.css' document.url}}}">

        <link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/Enactors.css' document.url}}}" />
        <link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/PrefsEditor.css' document.url}}}" />
        <link rel="stylesheet" type="text/css" href="{{{getRelativeUrl '/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css' document.url}}}" />
        <link rel="stylesheet" href="{{{getRelativeUrl '/css/doc-base.css' document.url}}}">

        <link rel="icon" type="image/png" href="{{{getRelativeUrl '/images/favico.png' document.url}}}">

        <script type="text/javascript" src="{{{getRelativeUrl '/lib/infusion/infusion-uio.js' document.url}}}"></script>
        <script type="text/javascript" src="{{{getRelativeUrl '/js/DocBase.js' document.url}}}"></script>
    </head>
    <body class="doc-base doc-base-sidebar-visibility">

        <div class="container doc-base-start-container">

            <!-- Skip Link -->
            <div id="skip">
                <a href="#tableOfContents">Jump to Table of Contents</a>
                <a href="#content">Skip to Content</a>
            </div>
            <!-- END skip link -->


            <header class="row doc-base-start-header doc-base-start-header">

                <!-- BEGIN markup for Preference Editor -->
                <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
                    <!-- This is the div that will contain the Preference Editor component -->
                    <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

                    <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
                    <div class="fl-panelBar">
                        <span class="fl-prefsEditor-buttons">
                            <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                            <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                        </span>
                    </div>
                </div>
                <!-- END markup for Preference Editor -->

                <div class="doc-base-start-logo small-12 medium-5 column">
                    <a class="doc-base-start-logoText" href="{{{getRelativeUrl '/index.html' document.url}}}" title="Doc Base">Doc Base</a>
                </div>

                <nav class="small-12 medium-7 column">
                    {{! Highlight the (active) category the document belongs to. }}
                    {{#each siteStructure}}
                        {{#ifEqual category ../document.category}}
                            <a href="{{{getRelativeUrl categoryHref ../../document.url}}}" title="{{category}}" class="doc-base-start-category-active">{{category}}</a>
                        {{else}}
                            <a href="{{{getRelativeUrl categoryHref ../../document.url}}}" title="{{category}}">{{category}}</a>
                        {{/ifEqual}}
                    {{/each}}
                </nav>
            </header>

            <!-- <div class="row doc-base-start-mainBody"> -->
                <div id="side" class="doc-base-start-TOC-container small-8 medium-3 column">
                    <nav id="tableOfContents" class="doc-base-start-TOC" tabindex="-1">
                        {{#each siteStructure}}
                            {{! Output only the table of contents matching the current document's category }}
                            {{#ifEqual category ../document.category}}
                                <h2 class="doc-base-start-category">{{category}}</h2>
                                {{#each sections}}
                                    <h3 class="doc-base-start-sectionName">{{sectionName}}</h3>
                                    <ul>
                                        {{#each pages}}
                                            <li>
                                                {{#ifEqual href ../../../../document.url}}
                                                    <span class="doc-base-start-TOC-item doc-base-start-TOC-active">{{pageName}}</span>
                                                {{else}}
                                                    <a href="{{getRelativeUrl href ../../../../../document.url}}"><span class="doc-base-start-TOC-item">{{pageName}}</span></a>
                                                {{/ifEqual}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/each}}
                            {{/ifEqual}}
                        {{/each}}
                    </nav>
                </div>

                <article id="content" class="doc-base-start-articleBody small-12 medium-8 column" tabindex="-1">

                    <div class="small-4 medium-1 column doc-base-start-TOC-hideShow">
                        <a href="#" class="doc-basec-topics" aria-label="Hide or Show List of Topics">Topics</a>
                    </div>

                    <div class="flc-toc-tocContainer doc-base-start-uio-toc"> </div>

                    <h1>{{document.title}}</h1>

                    <p class="doc-base-start-githubLink"><a href="{{getGithubLocation}}" target="_blank">Edit on GitHub</a></p>

                    <div class="doc-base-start-articleContent">
                        {{{rewriteMdLinks content}}}
                    </div>

                </article>

            <!-- </div> -->

            <footer class="row doc-base-start-footer">
                <p>Created by the <a href="http://fluidproject.org/" target="_blank">Fluid Project</a>,<br/>
                a project of the <a href="http://idrc.ocad.ca/" target="_blank">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca/" target="_blank">OCAD University</a>.</p>
            </footer>

            <script type="text/javascript">
                docBase.init("{{{getRelativeUrl '/./' document.url}}}");
            </script>
        </div> <!-- end container -->

    </body>
</html>
